// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.middlebio img{
border-radius: 50%;
max-width: 100%;
margin-right: 50px;



}

.middleimg{
width:30%;
float: right;


}
.bio{
padding-left: 10px;
  width: 60%;
  float: left;

}


.middlebio{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border: 1px solid #588B74;
  padding: 5px 5px;
overflow: auto;
  margin: auto;
}
.rightcol{
  padding-top: 20px;
  margin: auto;
}

.leftcol img {
  max-width: 100%;
  border-radius: 10%;
}

.h1{
  font-family: 'Open Sans', sans-serif;
}
